header{
    background-color: rgb(36, 37, 27);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
#container-btn-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#btn-menu{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(78, 110, 78);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem;
    position: relative;
}
.btn-menu-barre{
    background-color: maroon;
    width: 90%;
    height: 5px;
    border-radius: 5px;
}
#croix-gauche, #croix-droite{
    position: absolute;
    width: 75%;
}
#croix-gauche{
    transform: rotateZ(45deg);
}
#croix-droite{
    transform: rotateZ(135deg);
}
#header-logo{
    width: 10rem;
}
#link-modale-connexion{
    font-weight: 500;
}
#link-modale-connexion:hover{
    text-shadow: maroon -2px 0 2px;
    text-decoration: underline maroon;
    transform: scale(1.05);
    transition: linear 0.2s;
}

/* nav */
#header-menu{
    background-color: rgb(65, 75, 7);
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}
#header-menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: calc(100% - 4rem);
}
#header-menu ul a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 2rem;
}
#header-menu ul li{
    list-style: none;
}