#menu-filtre{
    background-color: olivedrab;
}
.filter-container_center, .select-container, #theme, #filter-number-results{
    padding: 0.3rem 0;
}
#category, #theme, #search-bar, #sort-by{
    outline: none;
    border: none;
    height: 1.8rem;
}

.filter-container_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#loupe{
    height: 2rem;
}
#loupe{
    background-position: center;
    background-image: url("../../asset/loupe.png");
    background-size: 60%;
    background-repeat: no-repeat;
    width: 10%;
    border-radius: 5px 0 0 5px;
    background-color: maroon;
}
#search-bar{
    background-color: white;
    border: none;
    padding-left: 1rem;
    width: 80%;
    border-radius: 0 5px 5px 0;
}
#select-container{
    display: flex;
    justify-content: space-around;
}
#category, #theme, #sort-by{
    background-color: white;
    border-radius: 5px;
}
#filter-number-results{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
}