.cards{
    background-color: white;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}
.cards-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cards-top-container div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-author-img{
    width: 25px;
    border-radius: 100%;
    margin: 0 2px;
}
.card-img{
    width: 100%;
}